<h1>Posts</h1>

<% if user_signed_in? %>
  <p>You are signed in as <%= current_user.email %>.</p>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post[:body] %> by <%= user_signed_in? ? post.user.email : 'Anonymous' %></li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
